  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html, body{
    height: 100%;
}
body {
    display: grid;
    place-items: center;
    text-align: center;
    background: #dde1e7;
}

.loginNeu {
    width: 330px;
    background: #dde1e7;
    border-radius: 10px;
    padding: 40px 30px;
    box-shadow: -3px -3px 7px white, 2px 2px 5px rgba(94, 104, 121, 0.288);
}
.loginNeu .loginWelcome{
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 35px;
    color: #000;
}
.field input {
    height: 100%;
    width: 100%;
    padding-left: 45px;
    font-size: 18px;
    outline: none;
    border: none;
    color: #595959;
    background: #dde1e7;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px #babbec, inset -1px -1px 2px #ffffff73;
}
.field input:focus ~ label {
    box-shadow: inset 2px 2px 5px #babbec, inset -1px -1px 2px #ffffff73;
}
.field:nth-child(2){
    margin-top: 1px;
}
.field label{
    position: absolute;
    top: 50%;
    left: 45px;
    pointer-events: none;
    color: #666666;
    transform:translateY(-50%);
}
.field input:focus ~ label{
    opacity: 0;
}
.log {
    width: 60%;
}
button{
    width: 20%;
    height: 50px;
    color: #000;
    font-size: 18px;
    background: #dde1e7;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #babbec, -5px -5px 10px #ffffff73; margin-bottom: 
    5%;
}
button:focus{
    color: whitesmoke;
    box-shadow: 2px 2px 5px #babbec, -5px -5px 10px #ffffff73;
}

/*  Signin CI-Dessous  */

.field select {
    height: 100%;
    width: 100%;
    padding-left: 40px;
    font-size: 18px;
    outline: none;
    border: none;
    color: #595959;
    background: #dde1e7;
    border-radius: 25px;
    box-shadow: -3px -3px 7px white, 2px 2px 5px rgba(94, 104, 121, 0.288);
    margin-bottom: 50px;

}
.field input{
    margin-bottom: 50px;
    box-shadow: -3px -3px 7px white, 2px 2px 5px rgba(94, 104, 121, 0.288);
}

/* Navbar CI-Dessous*/
nav {
    width: 90%;
    background: #dde1e7;
    border-radius: 10px;
    padding: 40px 30px;
    box-shadow: -3px -3px 7px white, 2px 2px 5px rgba(94, 104, 121, 0.288);
}
ul {
    display: flex;
    flex-direction: row;
}
li{
    height: 100%;
    width: 100%;
    font-size: 18px;
    outline: none;
    border: none;
    color: #595959;
    background: #e7e9ed;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px #babbec, inset -1px -1px 2px #ffffff73;
    list-style-type: none;
    margin-right: 15px;
}
 li:focus {
    box-shadow: inset 2px 2px 5px #babbec, inset -1px -1px 2px #ffffff73;
}
li:hover {
    color: rgb(139, 44, 44);
	transition: transform .2s;
	-ms-transform:scale(1.25); 
	/* IE 9 /     -webkit-transform: scale(1.25); / Safari 3-8 */
    transform: scale(1.25); 
}
a, a:visited {
    text-decoration: none;
    color: #4b17c4;
}
/* CSS BADGES */
.none {
    display: none;
}
/* Wrapper */
.wrapper {
    width: 90%;
      max-width: 900px;
      margin: 3em auto;
      text-align: center;
  }
  
  /* Badge */
  .badge {
      margin: 1.5em 3em;
      width: 6.4em;
      height: 6.4em;
      border-radius: 20%;
      display: inline-block;
      top: 0;
      transition: all 0.2s ease;
    box-shadow: 8px 10px 12px 3px rgba(0, 0, 0, 0.43);
  }
  
  .rounded {
    width: 70px;
      height: 70px;
    background: white;
    position: absolute;
    margin: 15px 16px auto;
    z-index: 10;
      border-radius: 30%;
    box-shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.23);
  }    
    i.fab {
    font-size: 2.6em;
    margin-top: 16px;
    }
  
  /* Colors */
  .blue {
      background: dodgerblue;
      color: deepskyblue;
  }
  
  .orange {
    background: darkorange;
    color: orange;
  }
  
  .gold {
    background: gold;
    color: gold;
  }
  
  .red {
    background: red;
    color: red;
  }
  
  .purple {
    background: mediumpurple;
    color: slategray;
  }
  
  .green {
    background: yellowgreen;
    color: darkslategray;
  }
  
  .crimson {
    background: crimson;
    color: firebrick;
  }
  
  .steel {
    background: steelblue;
    color: gold;
  }
  
  .pink {
    background: hotpink;
    color: palevioletred;
  }
  
  .rebecca {
    background: rebeccapurple;
    color: rebeccapurple;
  }
  
  .gainsboro {
    background: gainsboro;
    color: orangered;
  }
  .svg-inline--fa.fa-w-12 {
    width: 2.75em;
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 4.5em;
    overflow: visible;
    vertical-align: -.125em;
}
  