body {
    background-color: lightgray;
    justify-content: center;
}
h1 {
    text-align: center;
    color: white;
    font-family: 'Texturina', serif;
    margin-top: 10%;
}
h2{
    text-align: center;
    color: ghostwhite;
    font-family: 'Texturina', serif;

}
.loginNeu{
    width: 300px;
    border-radius: 62px;
    background: #28a6dc;
    box-shadow:  18px 18px 29px #1e7ea7,
                 -18px -18px 29px #32ceff;}
form {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: red;
}
input {
    display: flex;
    width: 10%;
    flex-direction: row;
    color: gold;
    margin-left: 45%;
    justify-content: center;
}
a:hover {
    color: dodgerblue;
    transform: scale(1.25);
}
